<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/Logo mini.png" />
    <link rel="stylesheet" href="/Styles/Index_style.css">
    <link rel="stylesheet" href="/Styles/Flor del dia_style.css">
    <title>Anthesis</title>
</head>
<body>
    <nav class="menu">
    <div class="alpha">
        <ul>
            <li>
                <a href="/Index.html">Inicio</a>
            </li>
            <li>
                <a href="/Galeria.html">Galeria</a>
            </li>
        </ul>
    </div>
            <div class="logo">
                <a href="/Index.html">
                    <img src="/img/Logo.png" alt="">
                </a>
            </div>
        <div class="omega">
        <ul>
            <li>
                <a href="/Flor del Dia.html">Flor del Dia</a>
            </li>
            <li>
                <a href="/Flores Peligrosas.html">Flores Peligrosas</a>
            </li>
        </ul>
    </div>
    </nav>
    <main class="backmain">
        <div id="app">
            <div class="search-wrapper">
                <input type="text" v-model="search" placeholder="Search title.."/>
                    <label>Search title:</label>
            </div>
            <div class="wrapper">
                <div class="card" v-for="post in filteredList">
                    <a href="https://vuejs.org/" target="_blank">
                    <img src="https://vuejs.org//images/logo.png">
                    gaga.js
                </a></div>
                <div class="card" v-for="post in filteredList">
                    <a href="https://facebook.github.io/react/" target="_blank">
                    <img src="https://daynin.github.io/clojurescript-presentation/img/react-logo.png"> 
                    React.js
                </a></div>
            </div>
        </div>
    </main>
    <script src="/Java/Flor del dia.js"></script>
</body>
</html>