* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #23714d;
  --color-cream: #f1ccba;
  --color-dark: #1c1c1c;
  --font-brand: 'Playfair Display', serif;
  --font-body: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-body);
}
