.flexContainer {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

.flexSlide {
  flex: 1;
  cursor: pointer;
  transition: all 500ms ease;
}

.flexSlide:hover {
  flex-grow: 3;
}

.flexTitle {
  color: #f1f1f1;
  position: relative;
  font-size: 6vw;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  transition: all 500ms ease;
  font-family: 'Edu SA Beginner', cursive;
}

.flexSlide:hover .flexTitle {
  transform: rotate(-0.1deg);
  transition: all 0.5s;
}

.home {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/Index/Primavera.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/Index/Verano.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.work {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/Index/Otoño.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/Index/Invierno.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
