* {
    margin: 0;
}

.menu {
	background: #34495E;
	position: relative;
	min-height: 100px;
	max-height: 100px;
	height: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	line-height: 100px;
	font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: white;
	display:block;
	padding: 0px 24px;
}
.menu > ul li a:hover {
	background:#ffffff;
	color: black;
	transition-duration: 0.3s;
}
.menu img {
	width: 100px
}